@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-size: 2.8vw;
}

@media screen and (min-width: 768px) {

  html,
  body {
    font-size: min(2.8vw, 14px);
  }
}

@media screen and (min-width: 1024px) {

  html,
  body {
    font-size: min(2.8vw, 16px);
  }
}
