@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-size: 3vw;
}

@media screen and (min-width: 768px) {

  html,
  body {
    font-size: min(3vw, 14px);
  }
}

@media screen and (min-width: 1024px) {

  html,
  body {
    font-size: min(3vw, 16px);
  }
}
